@page "/activities/positions"
@inject HttpClient Http
@inject ApiSettings Settings
@using LiteBulb.RunLog.Web.Shared
@using System.Timers
@using LiteBulb.Common.DataModel
@using LiteBulb.RunLog.Dtos

<h3>Positions</h3>
<p>A list of all positions in the system</p>

<PositionList Positions="@positions" />

@code {
	private IReadOnlyCollection<PositionDto> positions;
	private Timer timer;

	protected override async Task OnInitializedAsync()
	{
		positions = await GetPositions();

		StartTimer();
	}

	private async Task<IReadOnlyCollection<PositionDto>> GetPositions(int offset = 0, int limit = 20)
	{
		var pagedResult = await Http.GetFromJsonAsync<PagedResult<PositionDto>>(Settings.PositionsRequestUri + $"/{offset},{limit}");
		return pagedResult.Data;
	}

	private void StartTimer()
	{
		timer = new Timer(2000);
		timer.Elapsed += TimerElapsedHandler;
		timer.Start();
		Console.WriteLine("Timer Started (List Positions).");
	}

	private async void TimerElapsedHandler(Object source, ElapsedEventArgs e)
	{
		positions = await GetPositions();

		// Note that the following line is necessary because otherwise
		// Blazor would not recognize the state change and not refresh the UI
		await InvokeAsync(() => { StateHasChanged(); });

		Console.WriteLine("Timer Elapsed (List Positions).");
	}
}