@page "/about"

<h3>About</h3>

<p><em>Because if someone runs and nobody is there to log it, did they really run?</em></p>

<RunDefinition Title="Run" />

<LogDefinition Title="Log" />

<p>
	Coming soon...
</p>
<p>
	<strong>EatLog</strong>
</p>
<p>
	The perfect companion to RunLog!
</p>