@page "/"

<h3>Home</h3>

<p class="text-center">
	<img title="RunLog Logo" src="/runlog-logo.png" width="409" height="295" class="img-fluid" />
</p>

<p class="text-center">The easiest and best way to log your workout activities</p>

<p class="text-center">
	<a class="btn btn-primary" href="/activities/add" title="Add New Activity">Start New Activity</a>
</p>