/* Custom CSS overrides */

.table td, .table th {
    padding: 1px 4px;
    vertical-align: middle;
    white-space: nowrap;
}

.table-hover td a.clickable {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}